<%= form_for(@loop_asset) do |f| %>
  <% if @loop_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loop_asset.errors.count, "error") %> prohibited this loop_asset from being saved:</h2>

      <ul>
      <% @loop_asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :displayname, "Name" %><br>
    <%= f.text_field :displayname %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
