<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h1 class="page-title">Library</h1></div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
  <div class="col-lg-6 col-md64 col-s6-4 col-6s-4 crud-icons-wrapper">
    <ul class="crud-icons-list list-inline">
      <li><a href="#"><i class="flaticon-edit42"></i></a></li>
      <li><a href="#"><i class="flaticon-hand224"></i></a></li>
      <li><a href="#"><i class="flaticon-delete84"></i></a></li>
    </ul>
  </div>
</div>

<hr>

<p>
  <strong>Asset File:</strong>
  <%= image_tag(@media_asset.asset_file.url(:thumb)) %>
</p>

<p>
  <strong>Media type:</strong>
  <%= @media_asset.asset_file_content_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @media_asset.displayname %>
</p>

<p>
  <strong>Size:</strong>
  <%= @media_asset.asset_file_file_size %> Bytes
</p>

<%= link_to 'Edit', edit_media_asset_path(@media_asset) %> |
<%= link_to 'Back', media_assets_path %>
