<%= form_for(@admin_pay_program) do |f| %>
  <% if @admin_pay_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_pay_program.errors.count, "error") %> prohibited this admin_pay_program from being saved:</h2>

      <ul>
      <% @admin_pay_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :available %><br>
    <%= f.check_box :available %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.text_field :period %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
